<%- include('partials/header') %> 


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Lojistas</h1>
    <p class="lead">Um armazém reservado para clientes exclusivos!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Registre-se</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Entrar</a>

  </div>
</div>

<%- include('partials/footer') %>
