<%- include('partials/header') %> 

<div class="home" style=" height: 100vh; display: flex; align-items: center; ">
  <div class="container home" style="background-color: rgb(241, 241, 241);" >
    <div style="display: flex; flex-direction: column; background-color: rgb(241, 241, 241);">
      <i class="fas fa-car home" style="font-size: 10rem;"></i>
      <h1 class="home">Lojistas</h1>
   </div>
    <div style="  background-color: rgb(241, 241, 241);">
      <p class="home" style="">O seu armazém exclusivo!</p>
    </div>
    <div  style="display: flex; flex-direction: column;  background-color: rgb(241, 241, 241);">
      <a class="home" href="/register" role="button">Registre-se</a>
      <a class="home" href="/login" role="button" style="">Entrar</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
