<%- include('partials/header') %> 


<div class="home">
  <div class="container home">
    <i class="fas fa-car home"></i>
    <h1 class="home">Lojistas</h1>
    <p class="home">Um armazém reservado para clientes exclusivos!</p>
    <a class="home" href="/register" role="button">Registre-se</a>
    <a class="home" href="/login" role="button">Entrar</a>

  </div>
</div>

<%- include('partials/footer') %>
