<%- include('partials/header') %>



<!-- store header -->
<a>
  <button style="width: 100%; display: flex; justify-content: center;" class=" toCart">
    <header class="p-3 pt-4 mb-3">
          Acessar Carrinho 
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#3e3d3d" version="1.1" id="Capa_1" width="100px" height="100px" viewBox="0 0 902.86 902.86" xml:space="preserve">
              <g>
                <g>
                  <path d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z     M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z"/>
                  <path d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717    c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744    c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742    C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744    c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z     M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742    S619.162,694.432,619.162,716.897z"/>
                </g>
              </g>
            </svg>
    </header>
  </button>
</a>

<!-- store body -->
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="" style="font-weight: 900; color: rgb(53, 53, 53);">O atacado feito para você!</h1>
        <p class="lead text-body-secondary"  style="font-weight: 900; color: rgb(53, 53, 53);"> Veja abaixo nossa coleção de mercadorias construída apropriadamente para lojistas. </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <!-- product 1-->
        <!-- <a href="/product" style="text-decoration: none;"> -->
          <form action="/product" method="POST">
            <button type="submit" value="1" name="productId" style="border-radius: 5px;">
              <div class="col">
                <div class="card shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" src="/public/img/estopa-carro.jpg" role="img" aria-label="Placeholder: Imagem" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Imagem</text></svg> -->
                  <img class="bd-placeholder-img card-img-top" src="img/estopa-carro.jpg" width="100%" height="225" alt="Estopa de Limpeza">
                  <div class="card-body">
                    <p class="card-text text-body-secondary"> Estopa Automativa para Polimento <br> 20 Pacotes (<strong>200g</strong> por Pacote)</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                      </div> -->
                      <small class="card-text lead" style="color: green; width: 100%;"><strong>R$ 10,00</strong></small>
                    </div>
                  </div>
                </div>
              </div>
          </button>
        </form>
      <!-- </a> -->
        <!-- product 2-->
        <div class="col">
          <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
            <img src="img/mini-fusivel.jpg" width="100%" height="225" alt="Mini Kit Fusível Automotivo">
            <div class="card-body">
              <p class="card-text text-body-secondary">Mini Kit Fusível Automotivo <br>20 Pacotes (<strong>1 Kit </strong>por Pacote) </p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                </div> -->
                <small class="card-text lead" style="color: green;"><strong>R$ 20,00</strong></small>
              </div>
            </div>
          </div>
        </div>
         <!-- product 3-->
         <div class="col">
          <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
            <img src="img/parafuso-plastico.jpg" width="100%" height="225" alt="Parafusos de Plástico para Rebites">
            <div class="card-body">
              <p class="card-text text-body-secondary">Parafusos Plásticos de 8mm <br>20 Pacotes (<strong>100 Unidades </strong>por Pacote) </p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                </div> -->
                <small class="card-text lead" style="color: green;"><strong>R$ 30,00</strong></small>
              </div>
            </div>
          </div>
        </div>
      <!-- product 4-->
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/palheta-automotiva.jpg" width="100%" height="225" alt="Palheta Automotiva">
          <div class="card-body">
            <p class="card-text text-body-secondary">Palheta Automotiva <br>20 Pacotes (<strong>30 Unidades </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 40,00</strong></small>
            </div>
          </div>
        </div>
      </div>
      <!-- product 5-->
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/sistema-arrefecimento.jpg" width="100%" height="225" alt="Aditivos para Sistema de Arrefecimento">
          <div class="card-body">
            <p class="card-text text-body-secondary">Aditivos para Sistema de Arrefecimento<br>20 Pacotes (<strong>12 Unidades </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 50,00</strong></small>
            </div>
          </div>
        </div>
      </div>
      <!-- product 6-->
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/jogo-de-tapete-universal-automotivo.jpg" width="100%" height="225" alt="Jogo de Tapete Automotivo">
          <div class="card-body">
            <p class="card-text text-body-secondary">Jogo de Tapete Automotivo Universal<br>20 Pacotes (<strong>40 Unidades </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 60,00</strong></small>
            </div>
          </div>
        </div>
      </div>
       <!-- product 7-->
       <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/kit-vai-lavar-4-em-1-para-carros-luxcar.jpg" width="100%" height="225" alt="Kit Vai Lavar 4 em 1 para Carros">
          <div class="card-body">
            <p class="card-text text-body-secondary">Kit Vai Lavar 4 em 1 para Carros<br>20 Pacotes (<strong>1 Kit </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 65,00</strong></small>
            </div>
          </div>
        </div>
      </div>
       <!-- product 8-->
       <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/kit-10-lampadas-h7-12v-55w-comum-automotiva.jpg" width="100%" height="225" alt="Kit de Lâmpadas H7 12V 55W Comum">
          <div class="card-body">
            <p class="card-text text-body-secondary">Kit de Lâmpadas H7 12V 55W Comum<br>20 Pacotes (<strong>10 Unidades </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 70,00</strong></small>
            </div>
          </div>
        </div>
      </div>
       <!-- product 9-->
       <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
          <img src="img/suporte-veicular.png" width="100%" height="225" alt="Suporte Veicular">
          <div class="card-body">
            <p class="card-text text-body-secondary">Suporte Veicular para Dispositivos<br>20 Pacotes (<strong>1 Unidade </strong>por Pacote) </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
              </div> -->
              <small class="card-text lead" style="color: green;"><strong>R$ 75,00</strong></small>
            </div>
          </div>
        </div>
      </div>
</main>

  <!-- store footer-->
  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="/logout"><button class="btn btn-outline-secondary">Sair</button></a>
      </p>
      <p class="mb-1 lead">Automultisom - © Todos os direitos reservados</p>
      <!-- <p class="mb-0">جديد على Bootstrap؟ <a href="/"> تفضل بزيارة الصفحة الرئيسية </a> أو اقرأ <a href="/docs/5.3/getting-started/introduction/ "> دليل البدء </a>.</p> -->
    </div>
  </footer>