<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Sua solicitação de registro está em análise!</h1>
      <p class="secret-text">Você receberá um e-mail de confirmação em breve.</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Sair</a>
    </div>
  </div>

  <%- include('partials/footer') %>